@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Playwrite+BE+WAL:wght@100..400&display=swap');

* {
    margin: 0px;
}

body {
    background-color: black;
    box-sizing: border-box;
    color: #ffffff;
    width: 100%;
    height: 100%;
}

.nav {
    background-image: linear-gradient(360.00deg, rgb(0, 0, 0), rgb(42, 42, 42), rgb(63, 63, 63), rgb(0, 0, 0) 100%);

}

.nav-items {
    display: flex;
    width: 80%;
    margin: 1rem auto;
    gap: 45%;
    align-items: center;
}

.fitness {
    color: rgba(230, 83, 60, 1.00);
    font-size: 40px;
}

.nav-content {
    border: 2px solid rgba(255, 255, 255, 0.10);
    font-size: 18px;
    border-radius: 20px;
    padding: 10px 30px 8px 0px;
    margin: 20px;
    display: flex;
    gap: 60px;
    justify-content: space-evenly;
    align-items: center;
}

.home {
    background-color: rgba(230, 83, 60, 1.00);
    border-radius: 10px;
    width: 60px;
    height: 12px;
    padding: 4px 0px 14px 14px;
    margin-left: 12px;
}

.ham-burger {
    display: none;
}

/* banner */
.banner-items {
    display: flex;
    gap: 220px;
}

.banner {
    align-items: center;
    justify-content: center;
}

.get {
    font-size: 90px;
    margin-left: 100px;
    padding: 30px;
}

.shape {
    font-family: "Caveat", cursive;
    font-style: normal;
}

.selection {
    height: 50px;
    width: 470px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    margin-left: 130px;
}

.join {
    font-size: 17px;
    background-color: rgb(230, 83, 60);
    border: none;
    height: 60px;
    width: 200px;
    border-radius: 25px;
    color: white;
    padding: 10px;
    margin: 20px 0px 0px 120px;
}

.download {
    font-size: 17px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    height: 60px;
    width: 200px;
    border-radius: 25px;
    margin: 10px;
}

.card-one {
    position: absolute;
    backdrop-filter: blur(20px);
    background: rgba(93, 93, 93, 0.54);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    height: 70px;
    width: 120px;
    padding: 10px;
    top: 280px;
    margin: 0px 0px 30px 250px;
}

.number-one {
    position: relative;
}

.five-hundred {
    font-size: 40px;
}

.three {
    font-size: 28px;
}

.card-two {
    display: flex;
    position: relative;
    background: rgba(93, 93, 93, 0.54);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    height: 60px;
    width: 150px;
    padding: 8px;
    right: 20%;
    bottom: 140px;
}

.round {
    background-color: rgb(230, 83, 60);
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.card-position {
    position: absolute;
    margin-left: 60px;
}

.caption {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.644);
    width: 180px;
    line-height: 30px;
}

/* main */
/* section one */
.selection-one-banner {
    text-align: center;
    margin: 10px 0px 30px 0px;
}

.believe {
    color: rgba(255, 255, 255, 0.5);
    width: 580px;
    height: 40px;
    margin: 20px 0px 0px 370px;
}

.section-one-img {
    display: flex;
    margin: 20px 0px 0px 150px;
    gap: 80px;
}

.section-gym-position {
    width: 200px;
    margin-top: 10px;
}

.gym-exercise {
    border-radius: 60%;
    margin-left: 6px;
}

.section-gym-description {
    margin-top: 20px;
}

.title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.title-pera {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    text-align: center;
    height: 20px;
    width: 200px;
}
/* section two */
.section-two {
    background-color: rgb(34, 34, 34);
    border-radius: 20px;
    display: flex;
    width: 75%;
    height: 370px;
    margin: 100px 20px 120px 170px;
    gap: 20%;
}

.section-two-description {
    text-align: left;
    margin-left: 40px;
}

.section-two-title {
    font-size: 20px;
    margin-top: 20px;
}

.run-title {
    font-size: 60px;
    margin-left: 10px;
}

.believe-two {
    height: 80px;
    width: 420px;
    color: rgba(255, 255, 255, 0.5);
    margin: 15px;
    line-height: 24px;
}

.run {
    margin-top: 30px;
    margin-left: 10px;
    height: 310px;
    width: 270px;
    border-radius: 10%;
}

.btn-one {
    background-color: rgb(230, 83, 60);
    height: 60px;
    width: 180px;
    border-radius: 25px;
    color: white;
    border: none;
    margin-top: 6px;
    margin-left: 10px;
    padding: 20px;
    font-size: 18px;
}
/* Bonus section */

/* BMI Calculator Chart */

.bmi-Calculator {
    width: 40%;
    margin: 0px 0px 30px 400px;
    text-align: left;
}

.bmi {
    padding: 12px;
    font-size: 50px;
}

.believe-three {
    height: 50px;
    width: 570px;
    color: rgba(255, 255, 255, 0.5);
    margin: 10px;
}

.calculator {
    background-color: rgb(34, 34, 34);
    display: flex;
    padding: 0px 10px 10px 120px;
    gap: 10%;
}

.bmi-calculator-chart {
    text-align: center;
    margin: 40px;
    line-height: 24px;
}

table,
th,
td {
    text-align: left;
    margin: 50px 0px 0px 20px;
    padding: 20px;
    border: 1px solid rgb(69, 69, 69);
    border-collapse: collapse;
}

td {
    color: rgba(255, 255, 255, 0.5);
}

/* Calculate your BMI */

.calculate-bmi {
    line-height: 24px;
    margin: 30px;
    text-align: left;
}

.calculate {
    margin: 10px;
    font-size: 30px;
}

input,
select {
    background-color: rgb(63, 63, 63);
    color: rgba(232, 232, 232, 0.66);
    border: 2px solid rgb(45, 45, 45);
    border-radius: 10px;
    font-size: 16px;
    margin: 6px;
    height: 50px;
    width: 220px;
    padding: 8px;
    box-sizing: border-box;

}

.select-two {
    background-color: rgb(63, 63, 63);
    color: rgba(232, 232, 232, 0.66);
    border: 2px solid rgb(45, 45, 45);
    height: 50px;
    width: 450px;
    padding: 10px;
}

.btn-two {
    background-color: rgb(230, 83, 60);
    height: 60px;
    width: 180px;
    border-radius: 25px;
    color: white;
    border: none;
    margin-top: 6px;
    margin-left: 10px;
    padding: 20px;
    font-size: 18px;
}
/* section three */
.section-three-intro {
    margin-top: 70px;
    text-align: center;
}

.Meet {
    font-size: 40px;
}

.believe-four {
    height: 40px;
    width: 580px;
    margin-top: 20px;
    margin-left: 350px;
    color: rgba(255, 255, 255, 0.5);
}

.img-content {
    margin: 30px;
    border-radius: 20px;
}

.images {
    width: 68%;
    height: 580px;
    background-color: rgb(34, 34, 34);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px 0px 80px 190px;
    padding: 20px;
    border-radius: 20px;
    gap: 12px;
}

img {
    border-radius: 15px;
    border-radius: 20px;
    gap: 10px;
}

.trainer-title {
    position: relative;
    font-size: 18px;
}

.trainer-title-two {
    margin-top: 20px;
    padding: 8px;
    color: #fffdfd;
    margin: 220px 0px 0px 10px;
}

.trainer {
    font-size: 16px;
    left: 250px;
    color: rgb(141, 141, 141);
}
/* own design section */
.customize {
    margin-bottom: 150px;
}

.pricing {
    margin: 20px;
    text-align: center;
    line-height: 20px;
}

h2 {
    font-size: 35px;
}

.plan {
    margin-top: 20px;
    color: rgba(213, 210, 210, 0.5);
    font-size: 16px;
}

.menu {
    display: flex;
    margin: 20px 60px 0px 60px;
}

.price-card {
    padding: 20px;
    width: 300px;
    padding: 30px;
    gap: 20px;
}

/* price card one */
.price-card-one {
    background-color: rgba(195, 193, 193, 0.227);
    border-radius: 10px;
    margin: 0px 0px 0px 60px;
    padding: 20px;
    height: 350px;
    width: 280px;
    gap: 5px;
}

.price-card-one:hover {
    border: 1px solid rgba(230, 83, 60, 1.00);
}

.price {
    margin: 10px 0px 20px 0px;
    font-size: 20px;
}

.package-btn {
    position: absolute;
    top: 180px;
    left: 30%;
}

.horizontal {
    border: 1px solid rgb(113, 113, 113);
    left: 20px;
    width: 270px;
    margin: 10px 0px 20px 0px;
}

#package-type {
    font-size: 17px;
    background-color: transparent;
    border: 1px solid rgba(230, 83, 60, 1.00);
    color: rgba(230, 83, 60, 1.00);
    height: 30px;
    width: 250px;
    border-radius: 5px;
}

.btn-price {
    margin: 160px 0px 10px 15px;
}

.btn-price-two {
    margin: 140px 0px 10px 16px;
}

.btn-price-three {
    margin: 100px 10px 0px 18px;
}

#package-type:hover {
    background-color: rgba(230, 83, 60, 1.00);
    color: #ffffff;
}

i {
    color: rgba(230, 83, 60, 1.00);
}

.icon-title {
    display: flex;
    gap: 10px;
}
