@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Playwrite+BE+WAL:wght@100..400&display=swap');

* {
    margin: 0px;
}

body {
    background-color: black;
    box-sizing: border-box;
    color: #ffffff;
    width: 100%;
    height: 100%;
}

.nav {
    background-image: linear-gradient(360.00deg, rgb(0, 0, 0), rgb(42, 42, 42), rgb(63, 63, 63), rgb(0, 0, 0) 100%);

}

.nav-items {
    display: flex;
    width: 80%;
    margin: 1rem auto;
    gap: 45%;
    align-items: center;
}

.fitness {
    color: rgba(230, 83, 60, 1.00);
    font-size: 40px;
}

.nav-content {
    border: 2px solid rgba(255, 255, 255, 0.10);
    font-size: 18px;
    border-radius: 20px;
    padding: 10px 30px 8px 0px;
    margin: 20px;
    display: flex;
    gap: 60px;
    justify-content: space-evenly;
    align-items: center;
}

.home {
    background-color: rgba(230, 83, 60, 1.00);
    border-radius: 10px;
    width: 60px;
    height: 12px;
    padding: 4px 0px 14px 14px;
    margin-left: 12px;
}

.ham-burger {
    display: none;
}

/* banner */
.banner-items {
    display: flex;
    gap: 220px;
}

.banner {
    align-items: center;
    justify-content: center;
}

.get {
    font-size: 90px;
    margin-left: 100px;
    padding: 30px;
}

.shape {
    font-family: "Caveat", cursive;
    font-style: normal;
}

.selection {
    height: 50px;
    width: 470px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    margin-left: 130px;
}

.join {
    font-size: 17px;
    background-color: rgb(230, 83, 60);
    border: none;
    height: 60px;
    width: 200px;
    border-radius: 25px;
    color: white;
    padding: 10px;
    margin: 20px 0px 0px 120px;
}

.download {
    font-size: 17px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    height: 60px;
    width: 200px;
    border-radius: 25px;
    margin: 10px;
}

.card-one {
    position: absolute;
    backdrop-filter: blur(20px);
    background: rgba(93, 93, 93, 0.54);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    height: 70px;
    width: 120px;
    padding: 10px;
    top: 280px;
    margin: 0px 0px 30px 250px;
}

.number-one {
    position: relative;
}

.five-hundred {
    font-size: 40px;
}

.three {
    font-size: 28px;
}

.card-two {
    display: flex;
    position: relative;
    background: rgba(93, 93, 93, 0.54);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    height: 60px;
    width: 150px;
    padding: 8px;
    right: 20%;
    bottom: 140px;
}

.round {
    background-color: rgb(230, 83, 60);
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.card-position {
    position: absolute;
    margin-left: 60px;
}

.caption {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.644);
    width: 180px;
    line-height: 30px;
}

/* main */
/* section one */
.selection-one-banner {
    text-align: center;
    margin: 10px 0px 30px 0px;
}

.believe {
    color: rgba(255, 255, 255, 0.5);
    width: 580px;
    height: 40px;
    margin: 20px 0px 0px 370px;
}

.section-one-img {
    display: flex;
    margin: 20px 0px 0px 150px;
    gap: 80px;
}

.section-gym-position {
    width: 200px;
    margin-top: 10px;
}

.gym-exercise {
    border-radius: 60%;
    margin-left: 6px;
}

.section-gym-description {
    margin-top: 20px;
}

.title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.title-pera {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    text-align: center;
    height: 20px;
    width: 200px;
}